body {
    text-align: center;
    background: #f2f2f2;
}
.about {
    background: #ff3333;
    text-align: center;

}
img { 
    height: 150px;
    width: 150px;
}
.column {
    float:left;
    margin-right: 20px;
    margin: 27px;
    width: 22%;
    text-align: center;
}
.card {
    box-shadow: 0px 4px 8px 0px #999999;
    padding: 0 50px 0 50px; 
    background: #b3b3ff;
    text-align: center;
}
.description {
    font-family: "time new roman;"
}
.button {
    padding: 10px 10px;
    cursor: crosshair;
    text-align: center;
}
.navbar {
    height: 50px;
}
