.back-screen {
    background-image: url("../images/main-background7.jfif");
    height: 100vh; 
    background-position: center;
    background-size: cover;

}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;

}

.form-signin {
    padding: 20px;
    margin: 5px;
    text-align: center;
}

input {
    margin-bottom: 20px;
}
.navbar {
    height: 50px;
}
.carousel-inner > .carousel-item > img {
    width:640px;
    height:360px;
  }
  #carouselIndicators {
      position: absolute;
      top: 0px;
      bottom: 0px;
  }
 